<a href="https://colab.research.google.com/github/Sweeney8/BTE320-SGS/blob/main/BTE_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2/5/23

Iterations

In [ ]:
!pip install ColabTurtlePlus

Collecting ColabTurtlePlus
  Downloading ColabTurtlePlus-2.0.1-py3-none-any.whl (31 kB)
Installing collected packages: ColabTurtlePlus
Successfully installed ColabTurtlePlus-2.0.1

In [ ]:
from ColabTurtlePlus.Turtle import *

clearscreen()

color('black','green')
begin_fill()
jumpto(0,0)

for var in range(4):
  forward(100)
  left(90)


end_fill()

### For Loop

keywords: **for** and **in**

**for** variable-name **in** sequence:

(indent) Statement(s)



range(start, end, step) --> creates a sequence of numbers (ints only)

**(start,end,step) default values. Start= 0, Step= 1**

Last value in end is excluded! for a 12 month calander, the end value is 13

**In decreasing ranges** the last value has to be strictly greater than the end

for loops are used when the number of durations is **known**

In [ ]:
for i in range(1,13,1):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
for i in range(10,5,-1):
  print(i)

10
9
8
7
6

### While Loop

While conidition:

(indent) Statement(s)

**This condition is repeatedly evaluated
as long as this condition is true the loop is active

**when this conditions becomes false the loop is terminated

2/7/23

In [ ]:
c = 5
fee = c+p*2.5
for p in range(1,9):
  fee = c+p*2.5
  if 10 < fee < 20:
    print(p, fee)
  elif fee <= 10:
    print(p, 10)
  else:
    print(p, 20.0)

1 10
2 10
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

while loop continued

(1) Initial Statement

(2) while condition, statement(s) "while the boolean expression holds (true), then run the block of code that follows"

(3) update

In [ ]:
while boolean expression:
  block of code

In [ ]:
i=1
n=5
while i<n:
  print(i)
  i=i+1

1
2
3
4

In [ ]:
import random
user_input=input("do you want to play the game?,(Yes,No)")
while user_input=="yes":
  user_input = input('rock, paper, scissors; ')
  pc_choice = random.choice(['rock','paper','scissors'])

  if user_input == pc_choice:
    print(f'computer choice; {pc_choice} --> Tie Game')

  elif user_input == 'paper' and pc_choice == 'rock' or user_input == 'scissors' and pc_choice == 'paper' or user_input == 'rock' and pc_choice == 'scissors':
    print(f'computer choice; {pc_choice} --> You Win!')

  else:
    print(f'computer choice; {pc_choice} --> You Lose')

  user_input=input("do you want to play the game?,(Yes,No)")

do you want to play the game?,(Yes,No)no

In [ ]:
down=100000
n_months=0
deposit=10000
amount=5000
while deposit<down:
  deposit=deposit+amount
  n_months=n_months+1
  print(n_months)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [ ]:
var=10
while var>0:
  var = var-1
  if var ==5:
    continue
  print('current variable value:', var)
print("good bye!")

current variable value: 9
current variable value: 8
current variable value: 7
current variable value: 6
current variable value: 4
current variable value: 3
current variable value: 2
current variable value: 1
current variable value: 0
good bye!

In [ ]:
var=10
while var>0:
  var = var-1
  if var ==5:
    break
  print('current variable value:', var)
print("good bye!")

current variable value: 9
current variable value: 8
current variable value: 7
current variable value: 6
good bye!

Feb 12 game

design a calculator

In [ ]:
while 'operator' == 'operator':
  number_1 = float(input('select the first number'))
  number_2 = float(input('select the second number'))
  operator = (input('select operator'))

  if operator == '+':
    print(number_1 + number_2)
  elif operator == '-':
    print(number_1 - number_2)
  elif operator == '*':
    print(number_1 * number_2)
  elif operator == '/':
    print(number_1 / number_2)
  elif operator == '//':
    print(number_1 // number_2)
  elif operator == '%':
    print(number_1 % number_2)
  elif operator == '**':
    print(number_1 ** number_2)
  elif operator=="break":
    break
  else:
    continue

select the first number2
select the second number2
select operator+
4.0

KeyboardInterrupt: Interrupted by user

whenever it says provide input, use function input

"==" comparison

"=" assignment


quiz: conditions, break,

In [ ]:
while True:
  num1 = float(input('Enter first value:'))
  num2 = float(input('Enter second value:'))
  operator = (input('Enter the operator:'))

  if operator == 'break':
    print('Goodbye!')
    break

  if operator == "+":
    answer = num1 + num2
  elif operator == "-":
    answer = num1 - num2
  elif operator == "*":
    answer = num1 * num2
  elif operator == "/":
    answer = num1 / num2
  elif operator == "//":
    answer = num1 / num2
  elif operator == "%":
    answer = num1 % num2
  elif operator == "**":
    answer = num1 ** num2
  else:
    print('invalid operator:', operator)
    continue
  print('Result:', answer)

Enter first value:2
Enter second value:2
Enter the operator:break
Goodbye!

### Lecture 3

## Strings

main charactaristic of a string = quotation marks

what can we take from strings?

S = name of string

(1) Number of characters within the quotes, function `len(S)`

(2) Indexing, print a particular character, `S[position]`


*   position is an index starting with 0 (ex. 5th character = 4)

(3) Slicing, creating new string with part of original string, `S[start:end:step] `
* (USE COLLON)
* end is excluded


remember! function range outputs a sequence of integers (start,end,step)
* end is excluded

the position of the last character is always len-1

s[len(s)-1], s[-1]

In [ ]:
s = 'This is a test'
s2 = 'This is another test'

print(len(s))
print(s[8])
print(s[5:7:1])

print(s[13],s[len(s)-1], s[-1])

14
a
is
t t t

for indexing from the end of a sequence, you can use negative integers

`s[len(s)-1]` = `s[-1]`


slicing: default values


*  start = 0
*  end = len(s)
*  step = 1

In [ ]:
s = 'This is a test'

this_word = s[0:4]
test_word = s[10:len(s)]

print(this_word, test_word)

This test

in the above code "`0`" and `len(s)` are redundant

In [ ]:
s = 'This is a test'
s[:]

'This is a test'

In [ ]:
s = 'This is a test'
s[-4:]

'test'

In [ ]:
s1 = 'Hello '
s2 = 'there'

s1+s2

'Hello there'

In [ ]:
s3 = 'abc'
2 * s3

'abcabc'

In [ ]:
user_date = input('Enter Todays Date (MM/DD/YYYY):')
month = user_date[:2]
day = user_date[3:5]
year = user_date[-4:]

print(month, day, year)

Enter Todays Date (MM/DD/YYYY):02/22/2004
02 22 2004

### **FEB 26**

Lists
len(list) = amount of options in the list

lists can be mutated, strings can not

In [ ]:
L = [1, 'two', 3.14, print, [5,7,9]]
len(L)

5

In [ ]:
L = [1, 'two', 3.14, print,[5,7,9]]

L[3]='b'

L

[1, 'two', 3.14, 'b', [5, 7, 9]]

In [ ]:
for index in range(len(L)):
  print(L[index])

1
two
3.14
b
[5, 7, 9]

In [ ]:
for item in L:
  print(item)

1
two
3.14
b
[5, 7, 9]

In [ ]:
L_outer = [[1,2,3],[4,5,6]]
print(L_outer)
P = L_outer[1]
print(P)
P[0]=7
print(P)
print(L_outer)

[[1, 2, 3], [4, 5, 6]]
[4, 5, 6]
[7, 5, 6]
[[1, 2, 3], [7, 5, 6]]

In [ ]:
l1 = [1,2,3,4]
l2 = [1,2,5,6]

for item in l1[:]:
  if item in l2:
    l1.remove(item)
l1

[3, 4]

In [ ]:
t = (1,'two',3.0)
len(t)

3

In [ ]:
t+ t[:2]

(1, 'two', 3.0, 1, 'two')

## Dictionary

In [ ]:
grades = {
    'Alice': 91,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 90
}

In [ ]:
grades['Bob']

88

In [ ]:
grades['Meagan']=95

In [ ]:
print(grades)

{'Alice': 91, 'Bob': 88, 'Tracy': 93, 'Erik': 90, 'Meagan': 95}

In [ ]:
grades['Tracy']=96
grades

{'Alice': 91, 'Bob': 88, 'Tracy': 96, 'Erik': 90, 'Meagan': 95}

In [ ]:
months = {1: "January", 2: "February", 3: "March"}

print(f'The first month in a year is {months[1]}')

The first month in a year is January

In [ ]:
months ={}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

In [ ]:
for numbers,names in months:
  numbers(1)== name(Jan)

TypeError: cannot unpack non-iterable int object

In [ ]:
months ={}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

for numbers in range(1,13):
  months[numbers] = names[1,13]
  print(months)

TypeError: list indices must be integers or slices, not tuple

In [ ]:
months ={}
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

for num in range(1,13):
  months[num] = names[num-1]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

### March 18

In [ ]:
aList = []

for i in range(10):
  aList.append(i)
  if i%2 == 0:
    aList.pop()

  print(aList)

[]
[1]
[1]
[1, 3]
[1, 3]
[1, 3, 5]
[1, 3, 5]
[1, 3, 5, 7]
[1, 3, 5, 7]
[1, 3, 5, 7, 9]

In [ ]:
def greeting(n):
  print(f'Hello, {n}!')

name = input ('Enter Name: ')
greeting(name)

Enter Name: Sean
Hello, Sean!

### March 20

In [ ]:
def add_num(a, b):
   c = a + b
   return c

x = 5
y = 6
c = add_num(x, y)
print(c)

11

In [ ]:
def add_num(a, b=5):
   c = a + b
   return c

x = 5
y = 6
c = add_num(x)
print(c)

10

### March 25

In [ ]:
def example():
  print('This is an example')

name = example()
print(name)

This is an example
None

Global Scope vs Local Scope

###April 5

In [ ]:
def quickSort(alist):
  if len(alist) < 2:
    return alist
  else:
    less, equal, larger = [],[],[]

    pivotIndex = len(alist) // 2

    for item in alist:
      if item < alist[pivotIndex]:
        less.append(item)
      elif item == alist[pivotIndex]:
        equal.append(item)
      else:
        larger.append(item)

    return quickSort(less) + equal + quickSort(larger)

quickSort([8,2,5,3,6,1])

[1, 2, 3, 5, 6, 8]

### April 8
*Errors and Except clauses*

In [ ]:
try:
  a = float(input('Enter a numerator: '))
  b = float(input(' Enter a demoniator: '))
  print(a/b)
  print('Division complete!')
except ZeroDivisionError:
  print('Division by zero is not allowed!')
except ValueError:
  print('Input cannot be casted as float!')
except TypeError:
  print('Invalid input!')
except:
  print('Unknown Error!')

print('Program ends.')

Enter a numerator: 2.1
 Enter a demoniator: 00000.0
Division by zero is not allowed!
Program ends.

###Object Oriented Programming (OOP)

* Data = Attributes
* Behavior = Methods
    - special methods: __ name __

In [ ]:
class Animal:
  # this is the constructor method;
  # used to initialize the behavior (aka attributes) for each instance (aka object) of the class
  def __init__(nerv_sys, resp_sys, life_exp, gender):
    self.nerv_sys = nerv_sys # this is an attributes initialization
    self.resp_sys = resp_sys
    self.life_exp = life_exp
    self.gender = gender