<a href="https://colab.research.google.com/github/Sweeney8/BTE320-SGS/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
months = {1: "January", 2: "February", 3: "March"}

print(f'The first month in a year is {months[1]}')

In [ ]:
months ={}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

In [ ]:
months ={}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

for numbers in range(1,13):
  months[numbers] = names[1,13]
  print(months)

In [1]:
months ={}
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

for num in range(1,13):
  months[num] = names[num-1]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}